/* Your app custom styles here */
:root {
}
.test {
	display: flex;
	flex-direction: row;
	gap: 20px;
}
.container {
	display: flex;
	flex-direction: row;
	justify-items: center;
	align-items: center;
	flex-wrap: nowrap;
}
.like-section {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: center;
	gap: 12px;
	color: red;
}
.icon-color {
	&:active {
		color: rgb(162, 162, 9);
	}
}
.container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: rgb(1, 9, 7);
	padding-top: 0;
	z-index: 0;
}
.container2 {
	position: relative;
}

.card-container {
	position: relative;
	display: flex;
	flex-direction: column;
	--f7-page-searchbar-offset: 0px;
	--f7-page-navbar-offset: 0px;
}
